/* person.css */
#content {
    padding: 20px;
    background-color: #ecf0f1;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.table-container {
    width: 100%;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
    text-align: left;
}

table th, table td {
    padding: 12px 15px;
    border: 1px solid #ddd;
}

table th {
    background-color: #34495e;
    color: #ffffff;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}

table tr:hover {
    background-color: #ddd;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

.button:hover {background-color: #3e8e41}

.button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.page-button {
    display: inline-block;
    padding: 10px 20px;
    margin: 0 5px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #3498db;
    border: none;
    border-radius: 5px;
    box-shadow: 0 5px #2980b9;
}

.page-button:hover {background-color: #2980b9}

.page-button:active {
    background-color: #2980b9;
    box-shadow: 0 3px #1c6ea4;
    transform: translateY(2px);
}

.toggle-container {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.toggle-switch {
    width: 60px;
    height: 30px;
    background-color: #ccc;
    border-radius: 15px;
    position: relative;
    cursor: pointer;
    margin-left: 10px;
}

.toggle-knob {
    width: 28px;
    height: 28px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 1px;
    left: 1px;
    transition: all 0.3s;
}

.toggle-switch.active {
    background-color: #4CAF50;
}

.toggle-switch.active .toggle-knob {
    left: 31px;
}
/* Modal styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
    border-radius: 10px;  /* 添加圆角 */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);  /* 添加阴影 */
}

.input-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.input-group label {
    margin-right: 10px;
}

#gender {
    display: flex;
    align-items: center;
    gap: 10px;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

#editForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#editForm label {
    font-size: 18px;
    color: #333;
}

#editForm input[type="text"],
#editForm input[type="submit"] {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#editForm input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

#editForm input[type="submit"]:hover {
    background-color: #45a049;
}

.custom-file-upload {
    position: relative;
    display: inline-block;
    font-size: 16px;
}

#img {
    display: none;  /* 隐藏原生的文件选择按钮 */
}

.custom-file-upload label {
    padding: 10px 24px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease 0s;
}

.custom-file-upload label:hover {
    background-color: #45a049;
}