.article-columns-wrapper {
    display: flex;
    justify-content: center;
    gap: 16px;
    padding: 16px;
    width: 100%;
    box-sizing: border-box;
}

.article-column {
    width: 230px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
